button {
  width: auto;
  margin-top: var(--margin-md);
  padding: 0 var(--padding-lg);
  background: var(--bkg-color);
  border: 1px solid var(--text-color);
  outline: none;
  align-self: center;
  cursor: pointer;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

  &:hover {
    color: var(--text-color);
    background: var(--accent-color);
  }

  &.active {
    background: var(--text-color);
    color: var(--bkg-color);
    border-color: var(--border-color);
  }
}
