.home {
  background-color: var(--bkg-color);

  /* Home Hero Styling. */
  .home-hero {
    display: grid;
    grid-template-columns: 4fr 3fr;
    min-height: calc(90vh - 64px);
    border-bottom: 1px solid var(--border-color);

    /* Hero Introduction Styling. */
    .hero-introduction {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: var(--padding-lg);
    }

    /*Hero Animation Container Styling. */
    .hero-animation-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      aspect-ratio: 1;
      overflow: hidden;

      .canvasElement {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  /* Home Works Styling. */
  .home-works {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    min-height: 70vh;
    max-height: 80vh;
    margin: 0;
    padding: 0;
    list-style: none;

    .works-art, .works-web {
      border-right: 1px solid var(--border-color);
    }

    .works-art, .works-web, .works-writing {
      position: relative;
      transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

      .art-title, .web-title, .writing-title {
        display: grid;
        grid-template-columns: 1fr auto;
        transition: fill 0.3s ease-in;

        .title {
          justify-self: start;
          padding: var(--padding-lg);
          text-decoration: none;
          color: var(--text-color);
        }

        .top-right-arrow {
          cursor: pointer;
          position: absolute;
          top: 0;
          right: 0;
          height: 50px;
          width: 50px;
          fill: var(--text-color);
          transition: fill 0.3s ease-in;
        }
      }

      .writing-description, .art-description, .web-description {
        padding: var(--padding-lg);
        border-top: 1px solid var(--border-color);
      }


      &:hover {
        cursor: pointer;
        background-color: var(--text-color);
        border-color: var(--bkg-color);
        color: var(--bkg-color);
        opacity: 0.8;

        .art-title, .web-title, .writing-title {
          .title {
            color: var(--accent-color);
          }

          .top-right-arrow {
            fill: var(--accent-color);
          }
        }

        .writing-description, .art-description, .web-description {
          border-color: var(--accent-color);
          color: var(--accent-color);
        }
      }
    }
  }
}


@media only screen and (max-width: 1400px) {
  .home {
    .home-hero {
      grid-template-columns: 1fr 2fr;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .home {
    .home-hero {
      min-height: 70vh;

      .hero-introduction {
        justify-content: flex-start;
      }
    }
  }
}


@media only screen and (max-width: 900px) {
  .home {
    .home-hero {
      grid-template-columns: 1fr;
      padding: var(--padding-md);

      .hero-introduction {
        padding: var(--padding-sm);
      }

      .hero-animation-container {
        max-width: 550px;
        min-width: 200px;

        .canvasElement {
          width: 100%;
          height: 100%;
        }
      }
    }

    .home-works {
      .works-card {
        .card-title {
          padding: var(--padding-md);

          .title {
            padding: var(--padding-lg) var(--padding-sm);
            letter-spacing: 0;
          }

          .writing-description, .art-description, .web-description {
            text-align: left;
            padding: var(--padding-md);
          }
        }
      }
    }
  }
}

/* Media Quarry for Screens (Max Width: 768px). */
@media only screen and (max-width: 768px) {
  .home {
    .home-works {
      grid-template-columns: 1fr;
      justify-content: space-between;
      min-height: 100vh;
      max-height: 180vh;

      .works-art, .works-web {
        border-right: none;
        border-bottom: 1px solid var(--border-color);
      }

      .works-card {
        .writing-description,
        .art-description,
        .web-description {
          text-align: left;
        }
      }
    }
  }
}
